/* style.css */
body {
	/* font: size/line-height */
	font: 100%/1.2  Arial, Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	background:#F1F1F1;
}

/* 
#container
	#headline
	#sidebar
	#content
*/
#container {
	width:960px;
	margin: 0 auto;

}

/* 
#headline
	#logo
	#navigation
	#logout
*/
#headline {
	background:#B0C4DE;
	padding:0;
	margin:0;
}

#sidebar {
	float:left;
	width:158px;
	height:300px;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	background:#E6E6FA;
}

#footer {
	font-size:85%;
	clear:both;
	margin:5px auto;
	padding:10px;
	text-align:center;
	background-color:#C0C0C0;
}
/*
#content
	#main
*/
#content {
	float:right; 
	width:800px; 
	min-height:300px;
	background:#F9F9F9;
}

#logo {
	display:table-cell;
	width:160px;
	height:60px;
	text-align:center;
	vertical-align:middle;
}

#navigation {
	display:table-cell;
	width:680px;
	text-align:center;
	vertical-align:middle;
}

#logout {
	
	display:table-cell;
	width:120px;
	text-align:center;
	vertical-align:middle;
	padding:0;
	/* background-color:#E6E6FA; */
}


a img { 
	border: none;
}

a {
	background: none; 
	color: #002bb8; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color:: #faa700;
}

a:hover {
	text-decoration: underline
}



/*
Navigation buttons
*/
a.navlink{
	color:#696969;
	font-size:110%;
	text-decoration:None;
	padding:18px 18px;
	margin:0 2px;

}
a.navlink:hover {

	color: #FFF;
}


a.navlink_chosen{
	color: #FFF;
	font-size:110%;
	text-decoration:None;
	padding:18px 18px;
	margin:0 2px;
	background:#6495ED;
}
/*
Logout buttons
*/
a.logoutlink{
	color:#696969;
	text-decoration:None;
	padding:2px 4px;
	margin:0 2px;

}
a.logoutlink:hover {
	color: #FFF;
}


#main{
	padding:0 15px;
}

h2 {
	color: #696969;
	padding-bottom:0px;
	margin:10px 0;
}

h3 {
	color: #696969;
	padding-bottom:0px;
	margin:10px 0;
}



/*
Sidebar buttons
*/
ul.sidenav {
	
	list-style: none;  
	padding:0;
	margin:0px 0;
	background:#E6E6FA;
}


ul.sidenav li {
	border-bottom: 1px solid #aaa; 

}
ul.sidenav a, ul.sidenav a:visited {
	color:#696969;
	padding: 5px;
	display: block; 
	text-decoration: none;
	
}
ul.sidenav a:hover, ul.sidenav a:active, ul.sidenav a:focus {
	color: #FFF;
	background-color:#6495ED;
}


#login{
	text-align:center;
	
	
}

#login_form{
	
	width:250px;
	margin:150px auto;
	
}

table.login_table {
	background:#F1F1F1;
	border:1px solid silver;
	padding:2px;
}

table.login_table th{
	background-color:#B0C4DE;
	padding:5px;
	color:#696969;
}
table.login_table td{

	padding:4px 2px;

}

table.dmstable {
	color:#383838;
	border-collapse:collapse; 
	margin:2px 0 10px 0;
}


table.dmstable th {
	border:1px solid #aaa;
	padding:2px 4px;
	background-color:#F1F1F1;
}
table.dmstable td {
	border:1px solid #aaa;
	padding:2px 4px;
	
}

/* Agenda table */
table.agendatable {
	color:#383838;
	border-collapse:collapse; 
	display:block;
	margin:0 0 4px 6px;

}

table.agendatable td {
	color:#696969;
	border:1px solid #aaa;
	padding:0px;
	text-align:center;
}

table.agendatable th {
	border:1px solid #aaa;
	padding:4px 2px;
	text-align:center;
	background-color: #E6E6FA;
}


table.agendatable a {
	color: #696969;
}

.agenda_day{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:50px;
	background-color: #F1F1F1;
}

.agenda_day:hover {
	background-color: #6495ED;
	color: #FFF;
}

.agenda_today{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:50px;
	background-color: #C0C0C0;
	font-weight:bold;
}

.agenda_today:hover {
	background-color: #6495ED;
	color: #FFF;
}

.agenda_notempty{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:50px;
	background-color: #B0C4DE;
	font-weight:bold;
}

.agenda_notempty:hover {
	background-color: #6495ED;
	color: #FFF;
}

.agenda_invalid{
	color:#aaa;
    text-align:center;
    display:inline-block;
    padding:4px 0;
    width:50px;
    background-color: #F1F1F1;
}



.agenda_weekend{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:50px;
	background-color: #F0E68C;
}

.agenda_weekend:hover {
	background-color: #6495ED;
	color: #FFF;
}

.agenda_month{
	margin:4px 0 10px 0;
	text-align:center;
	float:left;
}

.prev_month{
	color: #696969;
	float:left;
	margin:0 6px;
	display:block;
}

.next_month{
	color: #696969;
	float:right;
	margin:0 6px;
	display:block;
}

a.year_top {
	color: #696969;
	font-size:130%;
	font-weight:bold;
}

.year_top {
    color: #696969;
    font-size:130%;
    font-weight:bold;
}

.agenda_period{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:30px;
	background-color: #F1F1F1;
}

.agenda_period:hover {
	background-color: #6495ED;
	color: #FFF;
}


.agenda_period_notempty{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:30px;
	background-color: #B0C4DE;
}

.agenda_period_notempty:hover {
	background-color: #6495ED;
	color: #FFF;
}

.agenda_time{
	font-size:92%;
	color:#696969;
	display:inline-block;
	width:30px;
	padding:0px 0;

}

table.agenda_timetable{
	border-collapse:collapse; 
	display:block;
}

table.agenda_timetable td {
	padding:0 0 0 1px;
	text-align:left;
}

.agenda_pref_period{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:30px;
	background-color: #9ACD32;
}

.agenda_pref_period:hover {
	background-color: #6495ED;
	color: #FFF;
}

.agenda_best_period{
	text-align:center;
	display:inline-block;
	padding:4px 0;
	width:30px;
	background-color: #FFA07A;
}

.agenda_best_period:hover {
	background-color: #6495ED;
	color: #FFF;
}

.period_type{
	padding:5px;
	
}

.help_text{
	margin:0 4px 8px 6px;
	padding:4px 0;
	color:#383838;
	display:block;
    line-height:1.3em;
	clear:both;
}

.pagination {
	display:block;
	color:#696969;
	margin:0 0 4px 0;
}

.step-links {
	padding:0;
}

.step-links a {
	padding:2px 6px;
	text-decoration:none;
	color:#696969;
	
}

.step-links a:hover {
    color:#FFF;
    background-color:#aaa;
}

.current_page {
	padding:2px 6px;
	color:#FFF;
    background-color:#aaa;
}

.nolink {
	padding:2px 6px;
	
}

table caption {
	margin:4px 0;
	
}

.lengend_box {
	border:1px solid #aaa;
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align:bottom;
}

.delimit_select{
	width:100%;
}

.conf_method_select{
	width:100%;
}

.dynamic_content {
	font-size:92%;
}

.dmstable a{
	color:#4169E1;
}

.interact_button {
	text-align:center;
	display:inline-block;
	width:auto;
	min-width:120px;
	padding:4px 2px 4px 2px;
	border:1px solid #6495ED;
	background-color:#E6E6FA;
	margin:4px 0px 4px 2px;
	
}


.interact_button:hover {
    background-color: #6495ED;
    color: #FFF;
}

.interact_cancel {
	color:#B22222;
    text-align:center;
    display:inline-block;
    width:auto;
    min-width:120px;
    padding:4px 2px 4px 2px;
    border:1px solid #CD5C5C;
    background-color:#FFA07A;
    margin:4px 0px 4px 2px;
    
}


.interact_cancel:hover {
    background-color: #B22222;
    color: #FFF;
}

.color_true{
	color:#228B22;
}

.color_false{
    color:#B22222;
}

.color_none{
    color:#DAA520;
}

