{% extends "meeting/meeting_scheduling_base.html" %}
{% load url from future %}
{% block title %}Meeting scheduling - DMS{% endblock %}

{% block content %}
{% block subject %}
    <h2>Meeting scheduling</h2>
{% endblock %}
<div class="help_text">
You have scheduled {{meeting}} meetings.
</div>
<table class="dmstable">
<tr>
<th>Success</th><td>{{meeting_success}}</td>
</tr>
<tr>
<th>Failed</th><td>{{meeting_failed}}</td>
</tr>
<tr>
<th>Canceled</th><td>{{meeting_canceled}}</td>
</tr>
</table>
<div class="help_text">
You have {{invitee}} invitees.
</div>
<table class="dmstable">
<tr>
<th>VIPs</th><td>{{invitee_vip}}</td>
</tr>
<tr>
<th>Non-VIPs</th><td>{{invitee_nonvip}}</td>
</tr>
</table>
<div class="help_text">
Scheduling procedure:<br/>

Add invitees to list &rarr; Configure invitee list &rarr; Configure scheduling &rarr; Start scheduling &rarr; Manage scheduling and wait for result
</div>
{% endblock %}