{% extends "meeting/meeting_scheduling_base.html" %}
{% load url from future %}
{% block title %}Meeting scheduling invitees - DMS{% endblock %}

{% block content %}
{% block subject %}
    <h3>Invitee list</h3>
{% endblock %}
{%with user_list as data %}
{%include "t_pagination.html" %}
{% endwith %}

<table class="dmstable">
<tr>
    <th>
    Username
    </th>
    <th>
    Group
    </th>
    <th>
    VIP
    </th>
    <th>
    Remove
    </th>
</tr>
{% for user in user_list %}
{% if user.invitee_status %}
<tr style="background-color:#FFDAB9">
{% else %}
<tr>
{% endif %}
    <td>
<a href="/user/id={{user.invitee_id.user_id.id}}/">{{user.invitee_id.user_name}}</a>
    </td>
    <td>
{% if user.is_superuser%}
Administrator
{% else %}
User
{% endif %}
    </td>
    <td style="padding:0 4px 0 0px">
{% if user.invitee_status %}
    {%if "?page" in request.get_full_path %}
    <a href="{{request.get_full_path}}&nonvip={{user.invitee_id.user_id.id}}"><span class="agenda_period" style="width:100%;padding:2px;">&nbsp;</span></a>
    {% else %}
<a href="?nonvip={{user.invitee_id.user_id.id}}"><span class="agenda_period" style="width:100%;padding:2px;">&nbsp;</span></a>    
    {% endif %}
{% else %}
    {%if "?page" in request.get_full_path %}
    <a href="{{request.get_full_path}}&vip={{user.invitee_id.user_id.id}}"><span class="agenda_period" style="width:100%;padding:2px;">&nbsp;</span></a>
    {% else %}
<a href="?vip={{user.invitee_id.user_id.id}}"><span class="agenda_period" style="width:100%;padding:2px;">&nbsp;</span></a>    
    {% endif %}
{% endif %}   
    </td>
    <td style="padding:0 4px 0 0px">
    {%if "?page" in request.get_full_path %}
    <a href="{{request.get_full_path}}&remove={{user.invitee_id.user_id.id}}"><span class="agenda_period" style="width:100%;padding:2px;">&nbsp;</span></a>
    {% else %}
<a href="?remove={{user.invitee_id.user_id.id}}"><span class="agenda_period" style="width:100%;padding:2px;">&nbsp;</span></a>    
    {% endif %}    
    
    </td>
</tr>

{% endfor%}
</table>
{% endblock %}