{% extends "meeting/meeting_base.html" %}
{% load url from future %}
{% block title %}Meetings successful - DMS{% endblock %}

{% block content %}
{% block subject %}
    <h3>Meetings successful</h3>
{% endblock %}

{%with meeting_list as data %}
{%include "t_pagination.html" %}
{% endwith %}

<table class="dmstable">
<caption>
<b>All successful meetings</b>
</caption>
    <tr>
    <th>Host</th>
    <th>Topic</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Invitees</th>
    </tr>
    {% for meeting in meeting_list%}
    <tr>
    <td><a href="/user/?id={{meeting.host_id.user_id.id}}">{{meeting.host_id.user_name}}</a></td>
    <td>{{meeting.meeting_id.topic}}</td>
    <td nowrap="nowrap"><a href="/agenda/{{meeting.date|date:"Y/m/d/"}}">{{meeting.date|date:"Y/m/d"}}</td>
    <td nowrap="nowrap">{{meeting.period_time}}</td>
    <td>{{meeting.meeting_id.location}}</td>
    <td>{{meeting.meeting_id.stat_id.confirm}}</td>
    </tr>
    {%endfor%}

</table>

{% endblock %}