{% extends "meeting/meeting_scheduling_base.html" %}
{% load url from future %}
{% block title %}Meeting scheduling management - DMS{% endblock %}

{% block content %}

{% if meeting %}
    <h3>Management for "{{meeting.topic}}" ({% for text in meeting_state_text %}{% if forloop.counter0 == meeting_state %}{{text}}{% endif %}{% endfor %})</h3>
{% comment %} Specific management interface{% endcomment %}
<table class="dmstable" style="width:100%">
<caption>
<b>Initial Parameters</b>
</caption>
    <tr>
        <th nowrap ="nowrap">ID</th> 
        <th nowrap ="nowrap">Topic</th> 
        <th nowrap ="nowrap">Length</th> 
        <th nowrap ="nowrap">Location</th>
        <th nowrap ="nowrap">Day Range</th>
        <th nowrap ="nowrap">Pref Period</th>
        <th nowrap ="nowrap">Search Bias</th> 
        <th nowrap ="nowrap">Delimit</th> 
        <th nowrap ="nowrap">Confirmation</th>
    </tr>
    
    <tr>
    <td>
    {{meeting.meeting_id}}
    </td>
    <td>
    {{meeting.topic}}
    </td>
    <td>
    {{meeting.length}}
    </td>
    <td>
    {{meeting.location}}
    </td>
    <td style="font-size:92%">
    {% for day in meeting.breakdayrange %}
        {% if forloop.last %}
        <a href="/agenda/{{day|date:"Y/m/d/"}}">{{day|date:"Y/m/d"}}</a>
        {% else %}
        <a href="/agenda/{{day|date:"Y/m/d/"}}">{{day|date:"Y/m/d"}}</a><br/> 
        {% endif %}
    {% endfor %}
    </td>
    <td nowrap ="nowrap"  style="font-size:92%">
        
        {% for pref_period in meeting.preftotime %}
        {% if forloop.last %}
        {{pref_period}}
        {% else %}
        {{pref_period}}<br/> 
        {% endif %}
        {% endfor %}
        
    </td>
    <td>
    {% if meeting.search_bias %}
        {% if meeting.search_bias == "DAY_LENGTH" %}
        Day length
        {% elif meeting.search_bias == "AVERAGE_IDLE" %}
        Average idleness
        {% endif %}
    {% endif %}
    </td>
    <td>
    {{meeting.delimit}}
    </td>
    <td>
    {% if meeting.conf_method %}
        {% if meeting.conf_method == "AUTO" %}
        Automatic
        {% elif meeting.conf_method == "PROMPT" %}
        Ask me
        {% endif %}
    {% endif %}
    </td>
    </tr>

</table>

<table class="dmstable" style="width:100%">
<caption>
<b>Scheduling status</b>
</caption>
    <tr>
        <th nowrap ="nowrap">Confirmed Date</th>
        <th nowrap ="nowrap">Confirmed Period</th>
        <th nowrap ="nowrap">Confirm</th>
        <th nowrap ="nowrap">Decline</th>
        <th nowrap ="nowrap">Invitation</th>
        <th nowrap ="nowrap">Status</th>
    </tr>
    <tr>
        <td>
        {%if meeting.stat_id.date %}
        <a href="/agenda/{{ meeting.stat_id.date|date:"Y/m/d/" }}">{{ meeting.stat_id.date|date:"Y/m/d" }}</a>
        {% else %}
        N/A
        {% endif %}
        </td>
        
        <td>
        {%if meeting.stat_id.periodtotime %}
        {{ meeting.stat_id.periodtotime }}
        {% else %}
        N/A
        {% endif %}
        </td>
        
        <td>
        {%if meeting.stat_id.confirm %}
        {{ meeting.stat_id.confirm }}
        {% else %}
        N/A
        {% endif %}
        </td>
        
        <td>
        {%if meeting.stat_id.decline %}
        {{ meeting.stat_id.decline }}
        {% else %}
        N/A
        {% endif %}
        </td>
        
        <td>
        {%if meeting.invite %}
            {%if meeting.invite == "True" %}
            <span class="color_true">Sent</span>
            {%elif meeting.invite == "False" %}
            <span class="color_false">Canceled</span>
            {% endif %}
        {% else %}
        Pending
        {% endif %}
        </td>   
        <td>
        {%if stage == 0 or stage == 1 %}
        Pending
        {% endif %}
        {%if stage == 2 %}
        <span class="color_false">Failed</span>
        {% endif %}
        {%if stage == 3 %}
        <span class="color_true">Succeeded</span>
        {% endif %}
        {%if stage == 4 %}
        <span class="color_true">Succeeded</span>
        {% endif %}
        {%if stage == 5 %}
        <span class="color_false">Canceled</span>
        {% endif %}
        {%if stage == 6 %}
        <span class="color_true">Succeeded</span>
        {% endif %}
        {%if stage == 7 %}
        <span class="color_false">Canceled</span>
        {% endif %}
        {%if stage == 8 %}
        <span class="color_true">Succeeded</span>
        {% endif %}
        </td>            
    </tr>

</table>


<table class="dmstable" style="width:100%">
<caption>
<b>Agent interaction</b>
</caption>
<tr>
<td>
Stage Code: {{stage}}<br/>
{%if stage == 0 %}
Scheduling has just started. Please wait for MSA until it delivers you message for interaction
{%endif%}

{%if stage == 1 %}
Choose a time for the meeting:<br/>
	{% for period in choose_period%}
	  <a href="{{request.get_full_path}}&choose={{ period.1 }}"><span class="interact_button">{{ period.0 }}</span></a>
	{% endfor %}
{%endif%}

{%if stage == 2 %}
Scheduling failed due to non-existence of Available Period. You can cancel the meeting or reschedule with the same Initial Parameters.<br/>
If no response is given in 60 seconds, the system will automatically cancels the meeting.<br/>
    <a href="{{request.get_full_path}}&reschedule=true"><span class="interact_button">Reschedule</span></a>
    <a href="{{request.get_full_path}}&cancel=force"><span class="interact_cancel">Cancel</span></a>
{%endif%}

{%if stage == 3 %}
The Confirmed Period has been determined, and the scheduling succeeds! Do you decide to send invitations now?<br/>
<span style="color:#B22222">Please do not send invitation until Confirmed Date and Period appeared in the table "Scheduling status" above.
<br/>
     <a href="{{request.get_full_path}}&invite=true"><span class="interact_button" >Send invitations</span></a>     
     <a href="{{request.get_full_path}}&reschedule=true"><span class="interact_button">Reschedule</span></a>
     <a href="{{request.get_full_path}}&invite=false"><span class="interact_cancel">Cancel</span></a>
{%endif%}

{%if stage == 4 %}
The invitations have been sent. The MSA Feedback has not received declination from any VIP. You can still cancel or reschedule the meeting.<br/>

    <a href="{{request.get_full_path}}&reschedule=true"><span class="interact_button">Reschedule</span></a>
    <a href="{{request.get_full_path}}&cancel=force"><span class="interact_cancel">Cancel</span></a>
    
{%endif%}

{%if stage == 5 %}
The invitation has been canceled. The meeting is canceled.
{%endif%}
{%if stage == 6 %}
The MSA Feedback has received declination from one or more VIPs. You can check the invitee table below as for who declined.<br/> Click "Continue" to ignore the declination.<br/>

    <a href="{{request.get_full_path}}&cancel=false"><span class="interact_button">Continue</span></a>
    <a href="{{request.get_full_path}}&reschedule=true"><span class="interact_button">Reschedule</span></a>
    <a href="{{request.get_full_path}}&cancel=true"><span class="interact_cancel">Cancel</span></a>
    

{%endif%}

{%if stage == 7 %}
Upon declination from one or more VIPs received by MSA Feedback, the meeting is canceled.

{%endif%}

{%if stage == 8 %}
Though MSA Feedback received declination from one or more VIPs, the meeting continued.

    <a href="{{request.get_full_path}}&reschedule=true"><span class="interact_button">Reschedule</span></a>
    <a href="{{request.get_full_path}}&cancel=true"><span class="interact_cancel">Cancel</span></a>
    
{%endif%}
{%if stage == 9 %}
The meeting will be rescheduled soon. Please wait until ALCC refreshes the meeting configuration.

{%endif%}
</td>
</tr>
</table>


<table class="dmstable" style="width:100%">
<caption>
<b>Invitee status</b>
</caption>
    <tr>
        <th nowrap ="nowrap">Invitee</th> 
        <th nowrap ="nowrap">Status</th>
        <th nowrap ="nowrap">Agenda availability</th>
        <th nowrap ="nowrap">Response to invitation</th>
    </tr>
    {% for invitee in uim_invitee %}
    
    {% if invitee.status %}
    <tr style="background-color:#FFDAB9">
    {% else %}
    <tr>
    {% endif %}
        <td>
        <a href="/user/?id={{invitee.invitee_id}}">{{ invitee.name }}</a>
        </td>
        <td>
         {% if invitee.status == 1 %}
            VIP
         {% else %}
         Non-VIP
         {% endif %}
        </td>
        <td>
         {% if invitee.available == "True" %}
         <span class="color_true">Available</span>
         {% elif invitee.available == "False" %}
         <span class="color_false">Unavailable</span>
         {% else %}
         N/A
         {% endif %}
        </td>
        <td>
        {% if stage == 4 or stage == 6 or stage == 7 or stage == 8 %}
	         {% if invitee.accept == "True" %}
	         <span class="color_true">Accept</span>
	         {% elif invitee.accept == "False" %}
	         <span class="color_false">Decline</span>
	         {% else %}
	         <span class="color_none">Silent</span>
	         {% endif %}
	    {% else %}
	    N/A
	    {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<div class="help_text" >
<div class="lengend_box" style="background-color:#FFDAB9"></div> VIP Invitee
</div>
{% else %}

{% comment %} General management interface{% endcomment %}
<h3>Scheduling management</h3>
<table class="dmstable" style="width:100%">
<caption><b>
Unfinished meeting scheduling configuration
</b></caption>
{% if unfinished_meeting %}
	<tr>
		<th nowrap ="nowrap">Topic</th> 
		<th nowrap ="nowrap">Location</th>
		<th nowrap ="nowrap">Day Range</th>
		<th nowrap ="nowrap">Pref Period</th>
		<th nowrap ="nowrap">Search Bias</th> 
		<th nowrap ="nowrap">Delimit</th> 
		<th nowrap ="nowrap">Confirmation</th>
	</tr>
	<tr>
	<td>
	{{unfinished_meeting.topic}}
	</td>
	<td>
	{{unfinished_meeting.location}}
	</td>
	<td style="font-size:92%">
	{% for day in unfinished_meeting.breakdayrange %}
	    {% if forloop.last %}
	    {{day|date:"Y/m/d"}}
	    {% else %}
	    {{day|date:"Y/m/d"}}<br/> 
	    {% endif %}
	{% endfor %}
	</td>
	<td nowrap ="nowrap"  style="font-size:92%">
	    
	    {% for pref_period in unfinished_meeting.preftotime %}
	    {% if forloop.last %}
	    {{pref_period}}
	    {% else %}
	    {{pref_period}}<br/> 
	    {% endif %}
	    {% endfor %}
	    
	</td>
	<td>
	{% if unfinished_meeting.search_bias %}
	    {% if unfinished_meeting.search_bias == "DAY_LENGTH" %}
	    Day length
	    {% elif unfinished_meeting.search_bias == "AVERAGE_IDLE" %}
	    Average idleness
	    {% endif %}
	{% endif %}
	</td>
	<td>
	{{unfinished_meeting.delimit}}
	</td>
	<td>
	{% if unfinished_meeting.conf_method %}
	    {% if unfinished_meeting.conf_method == "AUTO" %}
	    Automatic
	    {% elif unfinished_meeting.conf_method == "PROMPT" %}
	    Ask me
	    {% endif %}
	{% endif %}
	</td>
	</tr>
	
{% else %}
    <caption>No result</caption>
{% endif%}
</table>
{% if unfinished_meeting %}
	<div class="help_text">
	<input type="button" value="Continue" onClick="javascript:location.href = '/meeting/msa/config/';">
	</div>
	<div class="help_text">
    There is currently an unfinished meeting scheduling configuration that is either saved by you or by the system. <br/>Click "Continue" to go back to the configuration page.
    </div>
{% endif%}
<table class="dmstable" style="width:100%">
<caption><b>
Current meeting being scheduled
</b></caption>
{% if current_meeting %}
{% with current_meeting.0 as current_meeting %}
	<tr>
        <th nowrap ="nowrap">Topic</th> 
        <th nowrap ="nowrap">Location</th>
        <th nowrap ="nowrap">Day Range</th>
        <th nowrap ="nowrap">Pref Period</th>
        <th nowrap ="nowrap">Search Bias</th> 
        <th nowrap ="nowrap">Delimit</th> 
        <th nowrap ="nowrap">Confirmation</th>
	</tr>
	
    <tr>
    <td>
    {{current_meeting.topic}}
    </td>
    <td>
    {{current_meeting.location}}
    </td>
    <td style="font-size:92%">
    {% for day in current_meeting.breakdayrange %}
        {% if forloop.last %}
        {{day|date:"Y/m/d"}}
        {% else %}
        {{day|date:"Y/m/d"}}<br/> 
        {% endif %}
    {% endfor %}
    </td>
    <td nowrap ="nowrap"  style="font-size:92%">
        
        {% for pref_period in current_meeting.preftotime %}
        {% if forloop.last %}
        {{pref_period}}
        {% else %}
        {{pref_period}}<br/> 
        {% endif %}
        {% endfor %}
        
    </td>
    <td>
    {% if current_meeting.search_bias %}
        {% if current_meeting.search_bias == "DAY_LENGTH" %}
        Day length
        {% elif current_meeting.search_bias == "AVERAGE_IDLE" %}
        Average idleness
        {% endif %}
    {% endif %}
    </td>
    <td>
    {{current_meeting.delimit}}
    </td>
    <td>
    {% if current_meeting.conf_method %}
        {% if current_meeting.conf_method == "AUTO" %}
        Automatic
        {% elif current_meeting.conf_method == "PROMPT" %}
        Ask me
        {% endif %}
    {% endif %}
    </td>
    </tr>
	{% endwith %}
{% else %}
    <caption>No result</caption>
{% endif %}
</table>
{% if current_meeting %}
    <div class="help_text">
    <input type="button" value="Management" onClick="javascript:location.href = '/meeting/msa/ms/?id={{current_meeting.0.meeting_id}}';">
    </div>
    <div class="help_text">
    There is currently a meeting being scheduled. <br/>Click "Management" to manage the scheduling of this meeting.
    </div>
{% endif%}
{% endif %}

{% endblock %}
