{% extends "meeting/meeting_base.html" %}
{% load url from future %}
{% block title %}Meetings canceled - DMS{% endblock %}

{% block content %}
{% block subject %}
    <h3>Meetings canceled</h3>
{% endblock %}

{%with meeting_list as data %}
{%include "t_pagination.html" %}
{% endwith %}

<table class="dmstable">
<caption>
<b>Canceled meetings</b>
</caption>
    <tr>
    <th>Host</th>
    <th>Topic</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Note</th>
    </tr>
    {% for meeting in meeting_list%}
    <tr>
    <td><a href="/user/?id={{meeting.host_id.user_id.id}}">{{meeting.host_id.user_name}}</a></td>
    <td>{{meeting.meeting_id.topic}}</td>
    <td nowrap="nowrap">
    {% if meeting.date %}
        <a href="/agenda/{{meeting.date|date:"Y/m/d/"}}">{{meeting.date|date:"Y/m/d"}}</a>
    {% else %}  
        None
    {% endif %}
    </td>
    <td nowrap="nowrap">{{meeting.period_time}}</td>
    <td>{{meeting.meeting_id.location}}</td>
    <td style="font-size:92%">
    {% if meeting.stage == "GEN" %}
        No available period
    {% elif meeting.stage == "INVI"%}
        Canceled by host during invitation
    {% elif meeting.stage == "FB" %}
        Canceled by host during feedback
    {% endif %}
    </td>
    </tr>
    {%endfor%}

</table>
{% endblock %}