{% extends "agenda/agenda_base.html" %}
{% load url from future %}
{% block title %}Agenda configuration - DMS{% endblock %}

{% block content %}
{% block subject %}
	<h3>Agenda configuration</h3>
{% endblock %}
<div class="agenda_month">


<table class="agendatable">
<caption>
<b>Default Preferred Period and Best Period<b>
</caption>
<tr>

{% for status in pref_period %}
	{% if not status %}
	<td>
	<a href="/agenda/config/pref/idle={{forloop.counter0}}"><span class="agenda_pref_period">&nbsp;</span></a>
	</td>
	{% else %}
	<td>
	<a href="/agenda/config/pref/occupy={{forloop.counter0}}"><span class="agenda_period">&nbsp;</span></a>
	</td>	
	{% endif %}
{% endfor %}
<td><span class="period_type">P</span></td>
</tr>
</table>

<table class="agendatable">
<tr>

{% for status in best_period %}
	{% if not status %}
	<td>
	<a href="/agenda/config/best/idle={{forloop.counter0}}"><span class="agenda_best_period">&nbsp;</span></a>
	</td>
	{% else %}
	<td>
	<a href="/agenda/config/best/occupy={{forloop.counter0}}"><span class="agenda_period">&nbsp;</span></a>
	</td>	
	{% endif %}
{% endfor %}
<td><span class="period_type">B</span></td>
</tr>
</table>

</div>
<br/>
<div class="help_text">
Configured Perferred Period and Best Period will be rendered as default when Daily Period and event is arranged on new days.
</div>
{% endblock %}
