{% extends "agenda/agenda_base.html" %}
{% load url from future %}
{% block title %}Agenda month - DMS{% endblock %}

{% block content %}
{% block subject %}
	<h3>{{date|date:"F"}}, {{date|date:"Y"}}</h3>
{% endblock %}
<div class="agenda_month">
<a href="/agenda/{{prev|date:"Y/m/"}}" class="prev_month">Prev</a>
<a href="/agenda/{{date|date:"Y"}}/" class="year_top">{{date|date:"Y"}}</a>
<a href="/agenda/{{next|date:"Y/m/"}}" class="next_month">Next</a>

{% autoescape off %}
{{htmltb}}
{% endautoescape%}
</div>
{% endblock %}

