<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
	<link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}DMS{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div id="container">
	
	    <div id="headline">
	    	<div id="logo">
			DMS
			</div>
	    	<div id="navigation">
			{% block navigation %}
				{% include "t_navigation.html" %}
			{% endblock %}
			</div>
			<div id="logout">
			{% block logout %}
				{% include "t_logout.html" %}
			{% endblock %}
			</div>
	    </div>
	    
	    <div id="sidebar">
			{% block sidebar %}
			Sidebar
			{% endblock %}
	    </div>
	    
	    <div id="content">
	    	<div id="main">
	        {% block content %}{% endblock %}
	        </div>
	    </div>
	 	<div id="footer">
	        {% block footer %}
	        	{% include "t_footer.html" %}
	        {% endblock %}
		</div>   
    </div>

</body>
</html>