{% with request.path|slice:":6" as path %}
  	{% if path == '/user/' %}
  	<a class="navlink_chosen" href="/user/">User</a>
  	{% else %} 
  	<a class="navlink" href="/user/">User</a>
	{% endif %} 
{% endwith %}
{% with request.path|slice:":8" as path %}
  	{% if path == '/agenda/' %}
  	<a class="navlink_chosen" href="/agenda/">Agenda</a>
  	{% else %} 
  	<a class="navlink" href="/agenda/"> Agenda</a>
	{% endif %} 
{% endwith %}  
{% with request.path|slice:":13" as path %}
    {% if path|slice:":9" = '/meeting/' and path != '/meeting/ca/' and path != '/meeting/msa/' and path != '/meeting/ca/'%}
    <a class="navlink_chosen" href="/meeting/">Meetings</a>
    {% else %} 
    <a class="navlink" href="/meeting/">Meetings</a>
    {% endif %} 
{% endwith %}  
{% with request.path|slice:":13" as path%}
    {% if path == '/meeting/msa/' %}
    <a class="navlink_chosen" href="/meeting/msa/"> Scheduling</a>
    {% else %} 
    <a class="navlink" href="/meeting/msa/"> Scheduling</a>
    {% endif %} 
{% endwith %} 
{% with request.path|slice:":12" as path%}
    {% if path == '/meeting/ca/' %}
    <a class="navlink_chosen" href="/meeting/ca/"> Participation</a>
    {% else %} 
    <a class="navlink" href="/meeting/ca/"> Participation</a>
    {% endif %} 
{% endwith %}  

<a class="navlink" href="/admin/"> Admin</a>
