{% extends "user/user_base.html" %}

{% block title %}User - DMS{% endblock %}

{% block content %}
{% block subject %}
<h2>{{username}}</h2>
{% endblock %}

<table class="dmstable">
<caption><b>User profile</b></caption>
<tr>
    <td>Username</td>
    <td>{{username}}</td>
</tr>
<tr>
    <td>Signup date</td>
    <td>{{joined|date:"F j, Y" }}</td>
</tr>
<tr>
    <td>User group</td>
    <td>{{group}}</td>
</tr>
</table>
<br/>
<table class="dmstable">
<caption><b>Statistics</b></caption>
<tr>
    <td>Meetings scheduled</td>
    <td>{{schedule}}</td>
</tr>
<tr>
    <td>Meetings invited to</td>
    <td>{{invite}}</td>
</tr>
</table>

{% endblock %}
