{% extends "user/user_base.html" %}
{% load url from future %}
{% block title %}Change password - DMS{% endblock %}

{% block content %}

{% block subject %}
	<h3>Change password</h3>
{% endblock %}

{% if form.errors %}
{{ form.non_field_errors }}
{% endif %}

<form method="post" action="{% url 'user.views.password' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}
    
{% if form.old_password.errors %}
{% for error in form.old_password.errors %}
       {{ error|escape }}
{% endfor %}
{% endif %}
    </td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}
    
{% if form.new_password1.errors %}
{% for error in form.new_password1.errors %}
       {{ error|escape }}
{% endfor %} 
{% endif %}   
    </td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}
    
{% if form.new_password2.errors %}
{% for error in form.new_password2.errors %}
        {{ error|escape }}
{% endfor %}  
{% endif %}      
    </td>
</tr>
</table>

<input type="submit" value="Change" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
