{% extends "user/user_base.html" %}
{% block title %}User configuration - DMS{% endblock %}

{% block content %}
{% block subject %}
	<h3>User configuration</h3>
{% endblock %}

<table class="dmstable">
<tr>
	<th>
	Participation
	</th>
	<td>
	{% if ca %}
	Configured
	{% else %}
	Not configured
	{% endif %}
	</td>
	<td>
    <a href="/meeting/ca/config/">[Config]</a>
    </td>
</tr>
<tr>
    <th>
    Invitee
    </th>
    <td>
    {% if user_invitee %} 
    Configured
    {% else %}
    Not configured
    {% endif %}
    </td>
    <td>
    <a href="/meeting/msa/invitee/">[Config]</a>
    </td>
</tr>
<tr>
	<th>
	Perferred Period
	</th>
	<td>
	{% if agenda.pref and agenda.pref != 65535 %}
		Configured
	{% else %}
		Not configured
	{% endif %}
	</td>
	<td>
    <a href="/agenda/config">[Config]</a>
    </td>
</tr>
<tr>
	<th>
	Best Period
	</th>
	<td>
	{% if agenda.best and agenda.best != 65535 %}
		Configured
	{% else %}
		Not configured
	{% endif %}
	</td>
	<td>
    <a href="/agenda/config">[Config]</a>
    </td>
</tr>

</table>

{% endblock %}

