{% extends "user/user_base.html" %}
{% block title %}User configuration - DMS{% endblock %}

{% block content %}
{% block subject %}
	<h3>User configuration</h3>
{% endblock %}

<table class="dmstable">
<tr>
	<td>
	Scheduling
	</td>
	<td>
	{{ msa }} <a href="/meeting/msa/config">[Config]</a>
	</td>
</tr>

<tr>
	<td>
	Participation
	</td>
	<td>
	{{ ca }} <a href="/meeting/ca/config">[Config]</a>
	</td>
</tr>

<tr>
	<td>
	Perferred Period
	</td>
	<td>
	{% if agenda.pref and agenda.pref != 65535 %}
		Configured <a href="/agenda/config">[Config]</a>
	{% else %}
		Not configured <a href="/agenda/config">[Config]</a>
	{% endif %}
	</td>
</tr>
<tr>
	<td>
	Best Period
	</td>
	<td>
	{% if agenda.best and agenda.best != 65535 %}
		Configured <a href="/agenda/config">[Config]</a>
	{% else %}
		Not configured <a href="/agenda/config">[Config]</a>
	{% endif %}
	</td>
</tr>

</table>

{% endblock %}

